[tools]
bun="latest"
deno="latest"
go="latest"
rust="stable"

zellij="latest"
bat="latest"
helix="latest"
lazygit="latest"
direnv="latest"
task="latest"
zoxide="latest"
yazi="latest"
starship="latest"
infisical="latest"
fzf="latest"
fd="latest"
{{ if eq .chezmoi.os "darwin" -}}
bash="latest"
{{- end }}
