layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
        floating_panes {
            pane name="file-explorer" {
                command "yazi"
                x "20%"
                y "0%"
                width "80%"
                height "80%"
            }
        }
    }
    tab name="tools" focus=true {
        pane split_direction="vertical" {
            pane split_direction="horizontal" size="20%" {
                pane name="runtime" size="30%"
                pane name="terminal" size="70%"
            }
            pane name="claude" size="20%" {                       
                command "claude"
            }
            pane name="git" command="lazygit" focus=true
        }
    }
    tab name="editor" {
        pane name="helix" {
            command "hx"
            args "."
        }
    }
}
