layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane size="80%" stacked=true {   
            pane name="git" {
                command "lazygit"
                focus true
            }
            pane name="editor" {
                command "hx"
                args "."
            }
        }
      
        pane name="sidebar" size="20%" stacked=true {                       
            pane name="runtime"
            pane name="claude" {
                command "claude"
            }
            pane name="terminal"
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
    floating_panes {
        pane name="yazi" {
            command "yazi"
            x "20%"
            y "0%"
            width "80%"
            height "80%"
        }
    }
}
