{{ if eq .chezmoi.os "darwin" -}}
[window]
option_as_alt="OnlyLeft"
{{- end }}

[font]
{{ if eq .chezmoi.os "darwin" -}}
size = 12
{{- else -}}
size = 10
{{- end }}

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[terminal.shell]
{{ if eq .chezmoi.os "darwin" -}}
program = "/bin/zsh"
{{- else -}}
program = "/usr/bin/zsh"
{{- end }}
args = ["-l"]
